<div class="user-table-container">
    <p-confirmDialog header="请确认" icon="fa fa-question-circle" #cd>
        <p-footer>
            <button type="button" icon="fa-check" class="btn btn-danger" (click)="cd.accept()">确定</button>
            <button type="button" icon="fa-close" class="btn btn-primary" (click)="cd.reject()">取消</button>
        </p-footer>
    </p-confirmDialog>

    <h3 class="header-no-margin">库存管理</h3>
    <form class="form-inline top-filter-form" role="form">
        <div class="form-group">
            <label>选择仓库：</label>
            <p-dropdown [options]="warehouses" optionLabel="name" [(ngModel)]="selectedInbentory" name="warehouse"></p-dropdown>
        </div>
        <div class="form-group">
            <label>商品类别：</label>
            <p-dropdown [options]="categories" optionLabel="name" [(ngModel)]="selectedCategory" name="category"></p-dropdown>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="user-item-container">
                <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" dataKey="index">
                    <!-- <p-column [style]="{'width':'38px'}" selectionMode="multiple" field="index"></p-column> -->
                    <p-column field="index" header="序号" [sortable]="true"></p-column>
                    <p-column field="itemName" header="名称" [sortable]="true"></p-column>
                    <p-column field="itemUnit" header="单位" [sortable]="true"></p-column>
                    <p-column field="bookInventory" header="账面库存" [sortable]="true"></p-column>
                    <p-column field="realInventory" header="实际库存" [sortable]="true"></p-column>
                    <p-column field="diffInventory" header="差异" [sortable]="true"></p-column>
                    <p-column field="costPrice" header="成本价" [sortable]="true"></p-column>
                    <p-column field="total" header="库存金额" [sortable]="true"></p-column>
                    <p-column field="warehouseName" header="仓库名" [sortable]="true"></p-column>
                    <p-column field="cellNo" header="库位" [sortable]="true"></p-column>
                    <p-column header="操作">
                        <ng-template let-item="rowData" pTemplate="body">
                            <button type="button" class="btn btn-success" (click)="editItem(item)">详情</button>
                            <button type="button" class="btn btn-danger" (click)="delItem(item)">删除</button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>