<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
            <a routerLink="/login" class="navbar-brand">
                Open-WMS
            </a>
            <a href="https://gitee.com/mumu-osc/OpenWMS-Frontend" target="_blank" class="navbar-brand">
                <i class="fa fa-github fa-2" aria-hidden="true"></i>
            </a>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a routerLink="dashboard"><li class="fa fa-area-chart fa-2"></li>仪表盘</a>
                </li>
                <li class="dropdown" dropdown>
                    <a dropdown-trigger><li class="fa fa-bars fa-2"></li>库存管理</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li>
                            <a routerLink="inventory/inventory-table/page/1">库存</a>
                        </li>
                        <li>
                            <a routerLink="inventory/inbound-receipt-table/page/1">入库单</a>
                        </li>
                        <li>
                            <a routerLink="inventory/outbound-receipt-table/page/1">出库单</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a dropdown-trigger><li class="fa fa-cogs fa-2"></li> 基础资料</a>
                    <ul class="dropdown-menu  dropdown-menu-left">
                        <li>
                            <a routerLink="basic-data/warehouse-table/page/1">仓库资料</a>
                        </li>
                        <li>
                            <a routerLink="basic-data/category-table/page/1">品类资料</a>
                        </li>
                        <li>
                            <a routerLink="basic-data/vendor-table/page/1">供应商资料</a>
                        </li>
                        <li>
                            <a routerLink="basic-data/customer-table/page/1">客户资料</a>
                        </li>
                        <li>
                            <a routerLink="basic-data/staff-table/page/1">员工资料</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a dropdown-trigger><li class="fa fa-area-chart fa-2"></li> 系统监控</a>
                    <ul class="dropdown-menu  dropdown-menu-left">
                        <li>
                            <a routerLink="basic-data/warehouse-map">仓库地图</a>
                        </li>
                        <li>
                            <a routerLink="sys/sysmonitor">Echarts</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a dropdown-trigger><li class="fa fa-user-circle fa-2"></li> Admin</a>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li>
                            <a routerLink="sys/sysmonitor"><li class="fa fa-user-o fa-2"></li> Profile</a>
                        </li>
                        <li>
                            <a routerLink="sys/sysmonitor"><li class="fa fa-gear fa-2"></li> Settings</a>
                        </li>
                        <li>
                            <a routerLink="/login"><li class="fa fa-sign-out fa-2"></li> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>