<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
            <a href="#indexContent.html" class="navbar-brand">
                <img src="assets/img/fish.png" style="width:38px;height:38px;margin-right:15px;">
            </a>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#fishdesktop/introduce.html" data-toggle="dropdown" class="dropdown-toggle">FishDesktop<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <li>
                            <a href="#fishdesktop/introduce.html">简介</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://fish.ztesoft.io">开发指南</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#fishmobile/introduce.html" data-toggle="dropdown" class="dropdown-toggle">FishMobile<span class="caret"></span></a>
                    <ul class="dropdown-menu  dropdown-menu-left" role="menu">
                        <li>
                            <a href="#fishmobile/introduce.html">简介</a>
                        </li>
                        <li>
                            <a href="#fishmobile/quickStart.html">开发指南</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="topbar topbar-dark">
    <a class="topbar-logo" routerlink="/">
        OpenWMS
    </a>
    <a href="javascript:void(0);" class="menu-button" (click)="onTogglerClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <a href="javascript:void(0);" class="user-display" (click)="showTopMenu=!showTopMenu">
        <span class="username">大漠穷秋</span>
        <img src="assets/imgs/img.jpg" style="border: 0px;">
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="fadeInDown topbar-menu {{showTopMenu?'topbar-menu-visible':''}}">
        <li>
            <a href="http://damoqiongqiu.github.io" target="_blank">
                <i class="topbar-icon fa fa-fw fa-user"></i>
                <span class="topbar-item-name">用户资料</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="showTopMenu=false;">
                <i class="topbar-icon fa fa-fw fa-cog"></i>
                <span class="topbar-item-name">个人设置</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="showTopMenu=false;">
                <i class="topbar-icon material-icons animated swing fa fa-fw fa-envelope-o"></i>
                <span class="topbar-item-name">消息</span>
                <span class="topbar-badge animated rubberBand">4</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="showTopMenu=false;" routerLink="/login">
                <i class="topbar-icon fa fa-fw  fa-power-off "></i>
                <span class="topbar-item-name">退出</span>
                <span class="topbar-badge animated rubberBand">2</span>
            </a>
        </li>
    </ul>
</div> -->