<h3 class="header-no-margin">库存记录详情---iPhone X</h3>
<p-tabView>
  <p-tabPanel header="库存曲线">
    <div class="btn-group" role="group" aria-label="Default button group">
      <button type="button" class="btn btn-default">周</button>
      <button type="button" class="btn btn-default">月</button>
      <button type="button" class="btn btn-default">季</button>
      <button type="button" class="btn btn-default">年</button>
    </div>
    <div echarts [options]="options" class="nf-chart" (chartInit)="onChartInit($event)"></div>
  </p-tabPanel>
  <p-tabPanel header="概要">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">仓库：</label>
        <div class="col-xs-9">
          <p class="form-control-static">京东南京一号仓</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">存储库位：</label>
        <div class="col-xs-9">
          <p class="form-control-static">A1001、A1002</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">类别：</label>
        <div class="col-xs-9">
          <p class="form-control-static">消费电子产品</p>
        </div>
      </div>
      <div class="h-divider"></div>
      <div class="form-group">
        <label class="col-xs-3 control-label">商品名称：</label>
        <div class="col-xs-9">
          <p class="form-control-static">iPhone-X</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">条码：</label>
        <div class="col-xs-9">
          <p class="form-control-static">0x0010abcd</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">型号：</label>
        <div class="col-xs-9">
          <p class="form-control-static">A1661</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">规格：</label>
        <div class="col-xs-9">
          <p class="form-control-static">全面屏，黑色，重量500g，20cm×20cm×20cm</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">供应商：</label>
        <div class="col-xs-9">
          <p class="form-control-static">Apple</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">产地：</label>
        <div class="col-xs-9">
          <p class="form-control-static">深圳富士康龙华科技园</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">保质期：</label>
        <div class="col-xs-9">
          <p class="form-control-static">18个月</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">是否易碎：</label>
        <div class="col-xs-9">
          <p class="form-control-static">是</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">是否易腐：</label>
        <div class="col-xs-9">
          <p class="form-control-static">是</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">商品详情：</label>
        <div class="col-xs-9">
          <p class="form-control-static">这里是关于商品的各种具体描述</p>
        </div>
      </div>
      <div class="h-divider"></div>
      <div class="form-group">
        <label class="col-xs-3 control-label">捡货策略：</label>
        <div class="col-xs-9">
          <p class="form-control-static">FIFO</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">账面库存：</label>
        <div class="col-xs-9">
          <p class="form-control-static">1000个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">实际库存：</label>
        <div class="col-xs-9">
          <p class="form-control-static">999个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">差异数：</label>
        <div class="col-xs-9">
          <p class="form-control-static">-1个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">最大库存：</label>
        <div class="col-xs-9">
          <p class="form-control-static">5000个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">最小库存：</label>
        <div class="col-xs-9">
          <p class="form-control-static">100个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">单位：</label>
        <div class="col-xs-9">
          <p class="form-control-static">个</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">进货单价：</label>
        <div class="col-xs-9">
          <p class="form-control-static">2000元</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">库存合计：</label>
        <div class="col-xs-9">
          <p class="form-control-static">200万元</p>
        </div>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" (click)="backToList()">返回</button>
      <button type="button" class="btn btn-danger" (click)="printBill()">打印</button>
    </div>
  </div>
</form>