<div class="user-table-container">
    <h3 class="header-no-margin">出库管理</h3>
    <form class="form-inline top-filter-form" role="form">
      <div class="form-group">
          <label>选择仓库：</label>
          <p-dropdown [options]="inventories" [(ngModel)]="selectedInbentory" name="inventory"></p-dropdown>
      </div>
      <div class="form-group">
          <label>商品类别：</label>
          <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" name="category"></p-dropdown>
      </div>
      <div class="form-group">
          <label>起始日期：</label>
          <p-calendar [(ngModel)]="startDate" dateFormat="yy-mm-dd" hourFormat="24" name="startDate"></p-calendar>
      </div>
      <div class="form-group">
          <label>结束日期：</label>
          <p-calendar [(ngModel)]="endDate" dateFormat="yy-mm-dd" hourFormat="24" name="endDate"></p-calendar>
      </div>
      <div class="form-group">
          <button class="btn btn-success" type="button" (click)="outForm()">
              <i class="fa fa-user" aria-hidden="true"></i> 新增出库
          </button>
      </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <div class="user-item-container">
        <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" dataKey="index">
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column field="serialNum" header="编码" [sortable]="true" [editable]="true"></p-column>
          <p-column field="itemName" header="名称" [sortable]="true" [editable]="true"></p-column>
          <p-column field="itemType" header="规格" [sortable]="true" [editable]="true"></p-column>
          <p-column field="enterDate" header="出货日期" [sortable]="true" [editable]="true"></p-column>
          <p-column field="number" header="出货数量" [sortable]="true" [editable]="true"></p-column>
          <p-column field="price" header="出货单价" [sortable]="true" [editable]="true"></p-column>
          <p-column field="amount" header="合计" [sortable]="true" [editable]="true"></p-column>
          <p-column field="paid" header="已收款" [sortable]="true" [editable]="true"></p-column>
          <p-column field="nonPayment" header="未收款" [sortable]="true" [editable]="true"></p-column>
          <!-- <p-column field="vendor" header="客户名称" [sortable]="true" [editable]="true"></p-column>
          <p-column field="operator" header="经手人" [sortable]="true" [editable]="true"></p-column>
          <p-column field="receiptsNum" header="单据号" [sortable]="true" [editable]="true"></p-column>
          <p-column field="remark" header="备注" [sortable]="true" [editable]="true"></p-column> -->
        </p-dataTable>
      </div>
    </div>
  </div>
</div>