<div class="user-table-container">
    <h3>仓库资料</h3>
    <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" placeholder="搜索">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <button class="btn btn-success" type="button" (click)="newWarehouseForm()">
                        <i class="fa fa-user" aria-hidden="true"></i> 新增仓库</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="user-item-container">
                <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" dataKey="index">
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="category" header="仓库名称" [sortable]="true"></p-column>
                    <p-column field="itemName" header="负责人" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="itemType" header="移动电话" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="serialNum" header="固定电话" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="enterDate" header="仓库地址" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="number" header="备注" [sortable]="true" [editable]="true"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>