.login-screen {
    background-color: #282828;
    height: 100%;
    width: 100%;
}

.sys-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

.login-form-container {
    margin-top: 40%;
    padding: 30px;
    background: #333;
    color: #fff;
}
