.login-screen {
    height: 100%;
    width: 100%;
    background: url('../../assets/imgs/loginpic.png') top left no-repeat #4CAF50;
    background-size:100% auto;
    .login-form-container {
        position: absolute;
        width: 400px;
        height: 450px;
        left: 50%;
        top: 50%;
        margin-left: -200px;
        margin-top: -225px;
        padding: 30px 60px;
        // background: rgb(65, 63, 63);
        background: rgba(255,255,255,.2);
        color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        .sys-title {
            text-align: center;
            font-size: 38px;
            line-height: 150px;
            margin: 0px;
            font-weight: bold;
        }
        .login-form{
            margin-top: 20px;
        }
        a{
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }
}
