<div class="layout-menu-wrapper layout-menu-dark">
    <div class="nano">
        <div class="nano-content sidebar-scroll-content">
            <div class="layout-menu-container">
                <div class="mobile-search">
                    <i class="fa fa-fw fa-search topbar-search-icon"></i>
                    <input class="topbar-search" placeholder="Type your search here" type="text">
                </div>
                <app-side-menu></app-side-menu>
            </div>
        </div>
    </div>
</div>