.dashboard-title{
    margin-top: 0px;
}

.top-rect{
    width: 100%;
    height: 90px;
    color: #fff;
    p {
        font-size: 24px;
        margin: 0px;
        text-align: center;
        line-height: 90px;
    }
}

.top-rect-blue{
    background-color: #108ee9 !important;
}

.top-rect-green{
    background-color: #00a854 !important;
}

.top-rect-orange{
    background-color: #f56a00 !important;
}

.top-rect-pink{
    background-color: #f5317f !important;
}

.chart-container{
    margin-top: 30px;
    background-color: #f7f7f7;
    padding-top: 15px;
}

.line-container{
    width: 100%;
    height: 450px;
}

.bar-container{
    width: 100%;
    height: 450px;
}