<div class="row">
  <div class="col-sm-12">
    <h3 class="dashboard-title">{{'dashboard.title' | translate}}</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="top-rect top-rect-blue">
          <p>65535 PV/Day</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-green">
          <p>123,456K</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-orange">
          <p>$123,456</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-pink">
          <p>123,456</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-container line-container">
          <div echarts [options]="lineChart" class="nf-chart"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-container bar-container">
          <div echarts [options]="barChart" class="nf-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
