<ul class="layout-menu">
    <li *ngFor="let menu of menus">
        <a href="javascript:void(0);" (click)="toggleMenuItem($event,menu)">
            <i class="fa fa-fw {{menu.icon?menu.icon:'fa-bars'}}"></i>
            <span>{{menu.name}}</span>
            <i class="fa fa-fw fa-angle-down"></i>
        </a>
        <ul class="{{menu.isOpen?'':'hidden'}}">
            <li *ngFor="let child of menu.children">
                <a href="javascript:void(0);" routerLink="{{child.route?child.route:'/home'}}"><i class="fa fa-fw {{child.icon?child.icon:'fa-bars'}}"></i><span>{{child.name}}</span></a>
                <div class="layout-menu-tooltip">
                    <div class="layout-menu-tooltip-arrow"></div>
                    <div class="layout-menu-tooltip-text">{{child.name}}</div>
                </div>
            </li>
        </ul>
    </li>
</ul>