<div class="user-table-container">
    <p-confirmDialog header="{{'confirm' | translate}}" icon="fa fa-question-circle" #cd>
        <p-footer>
            <button type="button" icon="fa-check" class="btn btn-primary btn-margin-1rem" (click)="cd.accept()">{{'accept' | translate}}</button>
            <button type="button" icon="fa-close" class="btn btn-default" (click)="cd.reject()">{{'reject' | translate}}</button>
        </p-footer>
    </p-confirmDialog>

    <h3 class="header-no-margin">{{'customerTabel.customerData' | translate}}</h3>
    <form class="form-inline top-filter-form form-bgcolor " role="form">
        <div class="form-group btn-margin-1rem">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="newCustomerForm()">
                <i class="fa fa-user" aria-hidden="true"></i> {{'customerTabel.newCustomer' | translate}}
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12 form-bgcolor col-padding">
            <div class="user-item-container">
                <p-dataTable expandableRows="true" [value]="customers" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                    dataKey="index">
                    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
                    <p-column field="customerName" header="{{'customerTabel.customerName' | translate}}" [sortable]="true" [style]="{'width':'250px'}"></p-column>
                    <p-column field="addr" header="{{'personalInfo.address' | translate}}" [sortable]="true"></p-column>
                    <p-column field="contact" header="{{'personalInfo.contact' | translate}}" [sortable]="true" [style]="{'width':'80px'}"></p-column>
                    <p-column field="cellphone" header="{{'personalInfo.cellphone' | translate}}" [sortable]="true" [style]="{'width':'120px'}"></p-column>
                    <p-column header="{{'operate' | translate}}" [style]="{'width':'80px','text-align':'center'}">
                        <ng-template let-item="rowData" pTemplate="body">
                            <button type="button" class="btn btn-primary" (click)="delCustomer(item)">{{'delItem' | translate}}</button>
                        </ng-template>
                    </p-column>
                    <ng-template let-customer pTemplate="rowexpansion">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">名称：</div>
                                            <div class="ui-grid-col-10">{{customer.customerName}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">地址：</div>
                                            <div class="ui-grid-col-10">{{customer.addr}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">联系人：</div>
                                            <div class="ui-grid-col-10">{{customer.contact}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">职务：</div>
                                            <div class="ui-grid-col-10">{{customer.duty}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2">手机号：</div>
                                            <div class="ui-grid-col-10">{{customer.cellphone}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
