<div class="user-table-container">
    <p-confirmDialog header="请确认" icon="fa fa-question-circle" #cd>
        <p-footer>
            <button type="button" icon="fa-check" class="btn btn-danger" (click)="cd.accept()">确定</button>
            <button type="button" icon="fa-close" class="btn btn-primary" (click)="cd.reject()">取消</button>
        </p-footer>
    </p-confirmDialog>

    <h3 class="header-no-margin">客户资料</h3>
    <form class="form-inline top-filter-form" role="form">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="button" (click)="newCustomerForm()">
                <i class="fa fa-user" aria-hidden="true"></i> 新增客户
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="user-item-container">
                <p-dataTable [value]="customers" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" dataKey="index">
                    <p-column field="customerCode" header="编码" [sortable]="true"></p-column>
                    <p-column field="customerName" header="客户全称" [sortable]="true"></p-column>
                    <p-column field="shortName" header="简称" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="contact" header="联系人" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="gender" header="性别" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="duty" header="职务" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="cellphone" header="手机号" [sortable]="true" [editable]="true"></p-column>
                    <p-column header="操作">
                        <ng-template let-item="rowData" pTemplate="body">
                            <button type="button" class="btn btn-success" (click)="editVendor(item)">详情</button>
                            <button type="button" class="btn btn-danger" (click)="delVendor(item)">删除</button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>