<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">{{inboundDetail.title}}</h3>
    <form class="form-inline">
      <div class="form-group col-xs-4">
        <label>入库单号：</label>
        <p class="form-control-static">{{inboundDetail.receiptNo}}</p>
      </div>
      <div class="form-group col-xs-4">
        <label>运单号：</label>
        <p class="form-control-static">{{inboundDetail.waybillNo}}</p>
      </div>
      <div class="form-group col-xs-4">
        <label>入库时间：</label>
        <p class="form-control-static">{{inboundDetail.inboundTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </div>
    </form>

    <table class="table table-bordered detail-table">
      <thead>
        <tr>
          <th>序号</th>
          <th>供应商</th>
          <th>商品名称</th>
          <th>规格</th>
          <th>型号</th>
          <th>产地</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
          <th>仓库</th>
          <th>库位</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inboundDetail.items">
          <th scope="row">{{item.index}}</th>
          <td>{{item.vendor}}</td>
          <td>{{item.itemName}}</td>
          <td>{{item.spec}}</td>
          <td>{{item.model}}</td>
          <td>{{item.producerLocation}}</td>
          <td>{{item.num}}</td>
          <td>{{item.unit}}</td>
          <td>{{item.price}}</td>
          <td>{{item.sum}}</td>
          <td>{{item.warehouse}}</td>
          <td>{{item.storeCell}}</td>
        </tr>
        <tr>
          <td colspan="12">请扫描货品</td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline">
      <div class="form-group col-xs-4">
        <label>经手人：</label>
        <label class="form-control-static">{{inboundDetail.handlerName}}</label>
      </div>
      <div class="form-group col-xs-4">
        <label>验收人：</label>
        <label class="form-control-static">{{inboundDetail.acceptor}}</label>
      </div>
      <div class="form-group col-xs-4">
        <label>送货人：</label>
        <label class="form-control-static">{{inboundDetail.deliveryman}}</label>
      </div>
    </form>

    <form class="form-inline">
      <div class="form-group col-xs-12">
        <button type="button" class="btn btn-success" (click)="returnToTable()">返回</button>
        <button type="button" class="btn btn-danger" (click)="printReceipt()">打印</button>
      </div>
    </form>
  </div>
</div>