<div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">{{outboundDetail.title}}</h3>
      <form class="form-inline">
        <div class="form-group col-xs-3">
          <label class="control-label">仓库：</label>
          <label class="form-control-static">{{outboundDetail.warehouseName}}</label>
        </div>
        <div class="form-group col-xs-3">
          <label class="control-label">出库单号：</label>
          <label class="form-control-static">{{outboundDetail.receiptNo}}</label>
        </div>
        <div class="form-group col-xs-3">
          <label class="control-label">运单号：</label>
          <label class="form-control-static">{{outboundDetail.waybillNo}}</label>
        </div>
        <div class="form-group col-xs-3">
          <label class="control-label">出库时间：</label>
          <label class="form-control-static">{{outboundDetail.outboundTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
        </div>
      </form>
  
      <table class="table table-bordered detail-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>接收方</th>
            <th>商品名称</th>
            <th>规格</th>
            <th>型号</th>
            <th>产地</th>
            <th>数量</th>
            <th>单位</th>
            <th>单价</th>
            <th>金额</th>
            <th>库位</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of outboundDetail.items">
            <th scope="row">{{item.index}}</th>
            <td>{{item.receiver}}</td>
            <td>{{item.itemName}}</td>
            <td>{{item.spec}}</td>
            <td>{{item.model}}</td>
            <td>{{item.producerLocation}}</td>
            <td>{{item.num}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.price}}</td>
            <td>{{item.sum}}</td>
            <td>{{item.storeCell}}</td>
          </tr>
          <tr>
            <td colspan="12">请扫描货品</td>
          </tr>
        </tbody>
      </table>
  
      <form class="form-inline">
        <div class="form-group col-xs-4">
          <label>经手人：</label>
          <label class="form-control-static">{{outboundDetail.handlerName}}</label>
        </div>
        <div class="form-group col-xs-4">
          <label>验收人：</label>
          <label class="form-control-static">{{outboundDetail.acceptor}}</label>
        </div>
        <div class="form-group col-xs-4">
          <label>送货人：</label>
          <label class="form-control-static">{{outboundDetail.deliveryman}}</label>
        </div>
      </form>
  
      <form class="form-inline">
        <div class="form-group col-xs-12">
          <button type="button" class="btn btn-success" (click)="returnToTable()">返回</button>
          <button type="button" class="btn btn-danger" (click)="printReceipt()">打印</button>
        </div>
      </form>
    </div>
  </div>