<div class="user-table-container">
    <h3 class="header-no-margin">移库管理</h3>
    <form class="form-inline top-filter-form" role="form">
        <div class="form-group">
            <label>调入仓库：</label>
            <p-dropdown [options]="inventories" [(ngModel)]="selectedInbentory" name="inventory"></p-dropdown>
        </div>
        <div class="form-group">
            <label>调出仓库：</label>
            <p-dropdown [options]="inventories" [(ngModel)]="selectedInbentory" name="inventory"></p-dropdown>
        </div>
        <div class="form-group">
            <label>商品类别：</label>
            <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" name="category"></p-dropdown>
        </div>
        <div class="form-group">
            <label>起始日期：</label>
            <p-calendar [(ngModel)]="startDate" dateFormat="yy-mm-dd" hourFormat="24" name="startDate"></p-calendar>
        </div>
        <div class="form-group">
            <label>结束日期：</label>
            <p-calendar [(ngModel)]="endDate" dateFormat="yy-mm-dd" hourFormat="24" name="endDate"></p-calendar>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="button" (click)="addShift()">
                <i class="fa fa-user" aria-hidden="true"></i> 新增移库
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="user-item-container">
                <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" dataKey="index">
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="outWarehouse" header="调出仓库" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="enterWarehouse" header="调入仓库" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="category" header="类别" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="serialNum" header="编码" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="itemName" header="名称" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="itemName" header="规格" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="number" header="调拨数量" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="price" header="调拨单价" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="amount" header="总金额" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="shiftDate" header="调拨时间" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="operator" header="经手人" [sortable]="true" [editable]="true"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>