<div class="topbar clearfix">
    <div class="topbar-left">
        <a routerLink="/login" class="navbar-brand position-relative">
            Open-WMS
        </a>
        <a href="https://gitee.com/mumu-osc/OpenWMS-Frontend" target="_blank" class="navbar-brand position-relative">
            <i class="fa fa-github fa-2" aria-hidden="true"></i>
        </a>
    </div>
    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)">
            <i class="fa fa-bars font-size-48 text-white"></i>
        </a>
    </div>
</div>
