<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">京东物流南京有限公司-出库单</h3>
    <form class="form-inline">
      <div class="form-group col-xs-3">
        <label class="control-label">仓库：</label>
        <label class="form-control-static">京东南京一号仓</label>
      </div>
      <div class="form-group col-xs-3">
        <label class="control-label">出库单号：</label>
        <label class="form-control-static">IN-1-2222222</label>
      </div>
      <div class="form-group col-xs-3">
        <label class="control-label">运单号：</label>
        <label class="form-control-static">1111-1111</label>
      </div>
      <div class="form-group col-xs-3">
        <label class="control-label">出库时间：</label>
        <label class="form-control-static">2018-01-21 14:14</label>
      </div>
    </form>

    <table class="table table-bordered detail-table">
      <thead>
        <tr>
          <th>序号</th>
          <th>接收方</th>
          <th>商品名称</th>
          <th>规格</th>
          <th>型号</th>
          <th>产地</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
          <th>库位</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>二号库</td>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>A1661</td>
          <td>富士康深圳南山区工厂</td>
          <td>1000</td>
          <td>个</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline">
      <div class="form-group col-xs-4">
        <label class="control-label">总金额：</label>
        <label class="form-control-static">300万元</label>
      </div>
      <div class="form-group col-xs-4">
        <label class="control-label">经手人：</label>
        <label class="form-control-static">签字</label>
      </div>
      <div class="form-group col-xs-4">
        <label class="control-label">送货人：</label>
        <label class="form-control-static">签字</label>
      </div>
    </form>

    <form class="form-inline">
      <div class="form-group col-xs-12">
        <button type="button" class="btn btn-success" (click)="returnToTable()">返回</button>
        <button type="button" class="btn btn-danger" (click)="printReceipt()">打印</button>
      </div>
    </form>
  </div>
</div>