<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">京东物流南京有限公司-出库单</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">仓库：</label>
        <div class="col-xs-10">
          <label class="control-label">京东南京一号仓</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">接受单位：</label>
        <div class="col-xs-10">
          <label class="control-label">二号仓</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">出库单号：</label>
        <div class="col-xs-10">
          <label class="control-label">IN-1-2222222</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">运单号：</label>
        <div class="col-xs-10">
          <label class="control-label">1111-1111</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">出库时间：</label>
        <div class="col-xs-10">
          <label class="control-label">2018-01-21 14:14</label>
        </div>
      </div>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>规格</th>
          <th>数量</th>
          <th>单价</th>
          <th>金额</th>
          <th>库位</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>iPhone-X</td>
          <td>
            全面屏 长宽高 重量
          </td>
          <td>1000</td>
          <td>3000元</td>
          <td>30万元</td>
          <td>A1001</td>
        </tr>
      </tbody>
    </table>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">总金额：</label>
        <div class="col-xs-10">
          <label class="control-label">300万元</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">经手人：</label>
        <div class="col-xs-10">
          <label class="control-label">签字</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">送货人：</label>
        <div class="col-xs-10">
          <label class="control-label">签字</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="button" class="btn btn-success" (click)="returnToTable()">返回</button>
          <button type="button" class="btn btn-danger" (click)="printReceipt()">打印</button>
        </div>
      </div>
    </form>
  </div>
</div>